.DisplayFrame {
  touch-action: none;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: #eaebec;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 1;
  caret-color: transparent;
}

.DisplayFrame::-webkit-scrollbar {
  display: none;
}

.LeftArrow {
  position: absolute;
  left: 1%;
  padding-left: 2px;
  padding-right: 2px;
  font-size: xx-large;
  color: #aabbcc;
  user-select: none;
  z-index: 2;
}

.LeftArrow:hover {
  color: #bbccdd;
}

.LeftArrow:active {
  color: #206ebd;
}

.RightArrow {
  position: absolute;
  right: 1%;
  padding-left: 2px;
  padding-right: 2px;
  font-size: xx-large;
  color: #aabbcc;
  user-select: none;
  z-index: 2;
}

.RightArrow:hover {
  color: #bbccdd;
}

.RightArrow:active {
  color: #206ebd;
}

.Container {
  position: relative;
  display: flex;
  border: 1px solid #eee;
  vertical-align: middle;
  overflow: hidden;
  align-items: center;
  height: 90vh;
}

.CarouselItem {
  touch-action: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.1%;
  transition: all 500ms ease-out;
}

.FastAnimation {
  transition: all 50ms linear;
}

.CarouselItem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.PositionIndicator {
  box-sizing: border-box;
  width: 150px;
  margin-bottom: 2px;
  border: 1px solid #e6e6e6;
}
.PositionIndicator img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.PositionIndicator:hover {
  background: #ececec;
}

.PositionIndicator:active {
  border: 4px solid #206ebd;
}

.CurrentPosition {
  border: 4px solid #0080ff;
}
